.body {
  font-family: 'Roboto', sans-serif;
  background-image: url('./images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px !important;
  height: 100vh !important;
  width: 100vw !important;
}

#main-container {
  margin: auto !important;
}

#form-div {
  background-color: #fff;
  margin: 10% auto;
  height: auto;
  border-top: 10px solid #4b78be;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px gray;
}

#techloopLogo{
  float: none;
  width: 41.1%;
  margin: 6.3% 29.4%;
  height: auto;
  align-self: center;
}

form{
  padding-left: 7.9%;
}

label{
  margin: 7.9% auto 85% auto;
  font-weight: 600;
  letter-spacing: 0ch;
  display: block
}

span{
  color: #ed1a75;
}

input{
  display: block;
  border: none;
  border-bottom: 1px solid grey;
  width: 55%;
  margin: 7.9% auto 44.8% auto;
}

.checkBox{
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: 0;
}

#button{
  display: block;
  margin: 10px auto !important;
  width: 10vw;
}