body{
  background: transparent;
  font-family: 'Roboto', sans-serif;
  background-image: url('./images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh !important;
  width: 100vw !important;
  z-index: 1000;
  overflow-x: hidden;
}

#recaptcha{
  margin: 0 !important;
}
#form-div {
  display: block;
  background-color: #fff;
  margin: 10% auto;
  height: auto;
  border-top: 10px solid #4b78be;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px gray;
}

#techloopLogo{
  float: none;
  width: 41.1%;
  margin: 6.3% 29.4%;
  height: auto;
  align-self: center;
}

form{
  padding: 0px 7.9%;
}

#ieee_logo{
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label{
  display: block;
  margin: 7.9% auto;
  font-size: 18px;
  font-weight: 550;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

span{
  color: #ed1a75;
}

input{
  display: block;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  width: 55%;
  margin: 7.9% auto;
}

input:focus{
  outline: none;
}

#checkStyle {
  display: block;
  margin: 0px !important;
  padding: 10px !important;
}

.checkBox{
  display: inline-block;
  width: auto !important;
  margin: auto !important;
}

#oplabel {
  display: inline-block;
  margin: 0px;
  margin-left: 10px !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

#sub-div{
  display: flex;
  width: 100%;
}

#button{
  display: inline-block;
  width: 120px;
  margin: 40px auto;
  margin-top: 16% !important;
  border-radius: 5px !important;
  background-color: #4b78be !important;
}

#others {
  display: inline-block;
  padding-left: 15px;
  margin-left: 10px;
}

#recaptcha {
  margin: 10px 0px;
  width: 100%;
  display: flex;
}

#con-ieee{
  width: 100%;
  display: flex;
}

#ieee {
  width: 12.4%;
  margin: 0px auto;
  margin-top: -10% !important;
}

@media (max-width: 576px) { 

  body {
    overflow-x: hidden;
  }

  #form-div {
    background-color: #fff;
    /* width: 94%; */
    /* margin: 10% auto; */
    height: auto;
    border-top: 10px solid #4b78be;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px gray;
  }

  #ieee{
    width: 30% !important;
    margin: 0px auto !important;
    margin-top: -10% !important;
  }
 }
