/* .one{
    font-size: 40px;
    font-weight: 500;
    margin: 20.1% 31.8% 0% 31.9%;
}

.two{
    font-size: 20px;
    font-weight: 550;
    margin: 0px 31.8% 0% 33%; 
}

.three{
    font-size: 12px;
    font-weight: 550;
    margin: 5% 31.8% 0% 32%; 
}

.four{
    font-size: 11.6px;
    font-weight: 550;
    margin: 20.1% 37.6% 1% 36.3%;
    color: #B4ABAB;
    cursor: pointer;
} */

#one, #two, #three, #four{
    text-align: center;
}

#four{
    /* margin-top: 70px; */
    color: #B4A2A2;
}

.filldiv{
    /* margin: 30px */
}

#paneer {
    padding-top: 76px;
    padding-bottom: 0px;
}